<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <ComponentRef Id="StartMenuShortcut" />
      <ComponentRef Id="DesktopShortcut" />
    </ComponentGroup>

    <DirectoryRef Id="INSTALLFOLDER" FileSource="SourceDir">
      <Component Id="StartMenuShortcut" Guid="{928EF81E-CFA3-FCF9-59F3-D9EA5364F0B7}" Win64="yes">
        <Shortcut
          Id="StartMenuShortcut"
          Name="!(loc.ProductName)"
          Description="!(loc.Description)"
          Target="[INSTALLFOLDER]mustardwalletltc.exe"
          Directory="InstallProgramMenuFolder"
          WorkingDirectory="INSTALLFOLDER"
          Icon="icon.ico" />
        <RegistryValue Id="StartMenuShortcutKey" Root="HKCU" Key="SOFTWARE\!(loc.ProductNameFolder)" Name="StartMenuShortcut" Value="1" Type="integer" KeyPath="yes" />
        <RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall" />
      </Component>

      <Component Id="DesktopShortcut" Guid="{017780E3-03C1-68EC-DB93-78B197123000}" Win64="yes">
        <Shortcut
          Id="DesktopShortcut"
          Name="!(loc.ProductName)"
          Description="!(loc.Description)"
          Target="[INSTALLFOLDER]mustardwalletltc.exe"
          Directory="DesktopFolder"
          WorkingDirectory="INSTALLFOLDER"
          Icon="icon.ico" />
        <RegistryValue Id="DesktopShortcutKey" Root="HKCU" Key="SOFTWARE\!(loc.ProductNameFolder)" Name="DesktopShortcut" Value="1" Type="integer" KeyPath="yes" />
        <RemoveFolder Id="RemoveDesktop" Directory="DesktopFolder" On="uninstall" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
